 /* DOCUMENT STYLING */
* {
	font-family: 'MuseoModerno', cursive;
	box-sizing: border-box;
}

body {
 	background-color: #DEF2F1;
 	display: flex;
}

/* LEFT SIDE CONTENT */
h1 {
	align-self: flex-start;
}
#leftside {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#foodlevel{
	color: #687271;
	font-size:25px;
}

#energylevel{
	color: #687271;
	font-size:25px;
}

#playlevel{
	color: #687271;
	font-size:25px;
}

/*COME BACK TO THIS*/
progress[value] {
  -webkit-appearance: none;
  width: 20vh;
  height: 2vh;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #AFBFBE;
}

progress[value]::-webkit-progress-value {
  	background-color: #687271;
/*    border-radius: 2px;*/
}

/* MIDDLE CONTENT */

#middle {
	display: flex;
	flex-direction: column;
	margin: auto;
}


/* RIGHT SIDE CONTENT */

#rightside {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#hatch {
	margin-top: 50px;
	border-radius: 100%;
	font-size: 25px;
	color: #DEF2F1;
	background-color: #687271;
  	cursor: pointer;
  	width: 20vh;
  	height: 20vh;

}
 #hatch:hover {
	transition: 0.02s;
 	color: #687271;
	background-color: #DEF2F1;
 }

/*
 #new-game {
	border-radius: 100%;
	font-size: 20px;
	color: #DEF2F1;
	background-color: #687271;
  	cursor: pointer;
  	text-align: center;
  	padding: 0;
  	width: 20vh;
  	height: 20vh;
}
 #new-game:hover {
	transition: 0.02s;
 	color: #687271;
	background-color: #DEF2F1;
 }*/

/* GAME CONTAINER 
/*#device{
	display:flex;
	justify-content: center;
	margin-top: 40px;
}

#device-back {
	width: 600px;
    height: 700px;
    background: #AFBFBE;
    border-radius: 70%;
    display: flex;
    align-self: center;
	position: absolute; 
}

#device-screen {
	width: 350px;
    height: 380px;
    background: #DEF2F1;
    display: flex;
    align-self: center;
	position: absolute; 

}

#egg {
	color:#687271;
	font-size: 180px;
	align-self: center;
	margin-left: 100px;
}

#cat {
	color:#687271;
	font-size: 180px;
	align-self: center;
	margin-left: 70px;
}*/


/* PLAY BUTTONS */
/*#gameplay {
	display: flex;
	justify-content: center;
	transition: all 0.2s;
}

#sleep{
	color: #DEF2F1;
	background-color:#687271; 
	font-size: 1.3em;
	border-radius: 50%;
	padding: 10px;
	margin-top: 210px;
	margin-right: 20px;
	margin-left: 20px;
	width: 80px;
	height: 80px;
	position: relative;
}

#sleep:hover{
	color: #687271;
	background-color: #96f4EE;
}

#play{
	color: #DEF2F1;
	background-color:#687271; 
	font-size: 1.3em;
	border-radius: 50%;
	padding: 10px;
	margin-top: 210px;
	width: 80px;
	height: 80px;
	position: relative;
}

#play:hover{
	color: #687271;
	background-color: #96f4EE;
}

#feed{
	color: #DEF2F1;
	background-color:#687271; 
	font-size: 1.3em;
	border-radius: 50%;
	padding: 10px;
	margin-top: 210px;
	width: 80px;
	height: 80px;
	position: relative;
}

#feed:hover{
	color: #687271;
	background-color: #96f4EE;
}
