 /* DOCUMENT STYLING */
* {
	font-family: 'MuseoModerno', cursive;
	box-sizing: border-box;
}

body {
 	background-color: #DEF2F1;
 	display: flex;
 	align-items: center;
/* 	flex-wrap: wrap;*/
}

/* LEFT SIDE CONTENT */
#leftside {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: auto;
	margin-left: 40px;
}

h1 {
	font-size: 40px;
	color: #687271;
}

#foodlevel{
	margin-right: 10px;
	color: #687271;
	font-size:40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

#energylevel{
	margin-right: 10px;
	color: #687271;
	font-size:40px;
	margin-bottom: 40px;
}

#playlevel{
	margin-right: 10px;
	color: #687271;
	font-size:40px;
}

/*COME BACK TO THIS*/
progress[value] {
  -webkit-appearance: none;
  width: 20vh;
  height: 2.5vh;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #AFBFBE;
  border-radius: 20px;
}

progress[value]::-webkit-progress-value {
  	background-color: #47726F;
  	border-radius: 20px;
}

/* MIDDLE CONTENT */

#middle {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: auto;
}

#device {
	margin-top: 40px;
}

#gameplay {
	display: flex;
	justify-content: center;
}

#sleep{
	font-size: 20px;
	color: #687271;
  	cursor: pointer;
	border: none;
	position: relative;
	margin-top: -420px;
/*	margin-right: 40px;*/
}
/*
#sleep:hover{
	color: #687271;
	background-color: #96f4EE;
}*/

#play{
	font-size: 20px;
	color: #687271;
  	cursor: pointer;
	border: none;
	position: relative;
	margin-top: -420px;
/*	margin-right: 40px;*/
/*	margin-top: -228px;
	margin-right: 40px;*/
}

/*#play:hover{
	color: #687271;
	background-color: #96f4EE;
}*/

#feed{
	font-size: 20px;
	color: #687271;
  	cursor: pointer;
	border: none;
	position: relative;
	margin-top: -420px;
/*	margin-right: 40px;*/
/*	margin-top: -228px;
	margin-right: 40px;*/
}

/*#feed:hover{
	color: #687271;
	background-color: #96f4EE;
}
*/

/* RIGHT SIDE CONTENT */

#rightside {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: auto;
	margin-left: 90px;
}

#egg {
	margin-right: 10px;
  	cursor: pointer;
  	margin-top: 80px;
}

#hatch {
	font-size: 35px;
	color: #687271;
	background-color: #DEF2F1;
  	cursor: pointer;
  	margin-right: 10px;
  	margin-top: 5px;
}

 #egg:hover {
	transition: 0.02s;
	opacity: 70%;
 }

/*
 #new-game {
	border-radius: 100%;
	font-size: 20px;
	color: #DEF2F1;
	background-color: #687271;
  	cursor: pointer;
  	text-align: center;
  	padding: 0;
  	width: 20vh;
  	height: 20vh;
}
 #new-game:hover {
	transition: 0.02s;
 	color: #687271;
	background-color: #DEF2F1;
 }*/


