 /* DOCUMENT STYLING */
* {
	font-family: 'MuseoModerno', cursive;
	box-sizing: border-box;
}

body {
	background-color: #DEF2F1;
}

.light {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* LEFT SIDE CONTENT */
#leftside {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
}

h1 {
	font-size: 40px;
	color: #687271;
	align-self: flex-start;
	margin-top: 0;
	margin-left: 20px;
}

#levels {
	display: none;
	flex-direction: column;
}

#foodlevel{
	color: #687271;
	font-size: 40px;
	margin-bottom: 20px;
	margin-left: 50px;
}

#energylevel{
	color: #687271;
	font-size: 40px;
	margin-bottom: 20px;
	margin-left: 50px;
}

#playlevel{
	color: #687271;
	font-size: 40px;
	margin-left: 50px;
}

progress[value] {
  -webkit-appearance: none;
  width: 12vw;
  height: 2.5vh;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #AFBFBE;
  border-radius: 20px;
}

progress[value]::-webkit-progress-value {
  	background-color: #47726F;
  	border-radius: 20px;
}

#awake {
	display: none;
	margin-left: 50px;
	cursor: pointer;
}

#awake:hover {
	transition: 0.02s;
	opacity: 70%;
}

/* MIDDLE CONTENT */

#middle {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

#pet{
	display: none;
	position: absolute;
	bottom: 300px;
}

#form {
	display: none;
	flex-direction: column;
	align-items: center;
}

#input {
	font-size: 15px;
	color: #687271;
	background-color: #DEF2F1;
	position: relative;
	bottom: 600px;
}

#submit {
	font-size: 15px;
	color: #687271;
	background-color: #DEF2F1;
	position: relative;
	bottom: 580px;
	align-self: center;
}

#name {
	font-size: 35px;
	color: #47726F;
	position: relative;
	bottom: 600px;
}

#gameplay {
	display: none;
	justify-content: center;
	width: 350px;
	justify-content: space-between;
}

#sleep{
  	cursor: pointer;
	position: relative;
	bottom: 160px;
}

#sleep:hover{
	transition: 0.02s;
	opacity: 70%;
}

#play{
  	cursor: pointer;
	position: relative;
	bottom: 180px;
}

#play:hover{
	transition: 0.02s;
	opacity: 70%; 
}

#feed{
  	cursor: pointer;
	position: relative;
	bottom: 180px;
}

#feed:hover{
	transition: 0.02s;
	opacity: 70%;
}


/* RIGHT SIDE CONTENT */

#rightside {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
}

#hatch {
  	cursor: pointer;
	margin-top: 70px;
}

 #hatch:hover {
	transition: 0.02s;
	opacity: 70%;
 }

#hatchtext {
	font-size: 35px;
	color: #687271;
  	margin-top: 5px;
  	padding: 0;
}

#pet-name {
	font-size: 35px;
	font-weight: bold;
	color: #687271;
  	margin-top: 70px;
  	margin-bottom: 0;
  	padding: 0;
}

#age {
	font-size: 35px;
	font-weight: bold;
	color: #687271;
	margin-top: 0;
	padding: 0;
}



/*
 #new-game {
	border-radius: 100%;
	font-size: 20px;
	color: #DEF2F1;
	background-color: #687271;
  	cursor: pointer;
  	text-align: center;
  	padding: 0;
  	width: 20vh;
  	height: 20vh;
}
 #new-game:hover {
	transition: 0.02s;
 	color: #687271;
	background-color: #DEF2F1;
 }*/


